
<form asp-controller="Student"
      asp-action="Browse"
      method="get"
      class="d-flex me-3">
    <input class="form-control me-2"
           type="search"
           name="search"
           placeholder="Search courses..." />
    <button class="btn btn-outline-light">
        Search
    </button>
</form>